.post{
    background: #fff;
    padding: 20px;
    
    h1{
        font-family: 'Oswald', sans-serif;
        font-size: 36px;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: #ad6c60 !important;
    }
    
    p{
        margin: -20px 0 20px;
        font-size: 13px;
    }
}

.post_text{
    
    p{
        font-size: 18px;
        line-height: 1.5;
    }
    
}