    <header class="header">
        <div class="menumobile"><i class="zmdi zmdi-menu"></i></div>
        <nav>
            <ul class="menu">
                <div>
                    <li> <a>Home</a></li>
                    <li> <a>Service</a></li>
                    <li> <a>Projetos</a></li>
                    <li> <a>Contatos</a></li>
                    <li> <a href="{{ site.baseurl }}/contact/" class="blog">Blog</a></li>
                </div>    
            </ul>
        </nav>
    </header>
    <script>
        $(document).ready(function(){
            $(".menumobile").click(function(){ 
                $(".menu").toggle('slow');
            });
        });
    </script>