<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} &#8211; {% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description | strip_html }}{% endif %}">
    <meta name="author" content="{{ site.author }}">
    {% if page.categories %}<meta name="keywords" content="{{ page.categories | join: ', ' }}">{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/basscss.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/pixyll.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/solarized-dark.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="../css/template.css" " type="text/css">
    <link rel="stylesheet" href="../css/bootstrap.min.css" | prepend: site.baseurl }}" type="text/css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">

</head>

<body>
    <header class="header">
        <div class="menumobile"><i class="zmdi zmdi-menu"></i></div>
        <nav>
            <ul class="menu">
                <div>
                    <li> <a>Home</a></li>
                    <li> <a>Service</a></li>
                    <li> <a>Projetos</a></li>
                    <li> <a>Contatos</a></li>
                    <li> <a href="{{ site.baseurl }}/contact/" class="blog">Blog</a></li>
                </div>    
            </ul>
        </nav>
    </header>
    <script>
        $(document).ready(function(){
            $(".menumobile").click(function(){ 
                $(".menu").toggle('slow');
            });
        });
    </script>
 <!-- <div class="site-wrap">
    <header class="site-header px2 px-responsive">
      <div class="mt2 wrap">
        <div class="measure">
          <a href="{{ site.url }}" class="left">{{ site.title }}</a>
          <nav class="site-nav right">
            {% include navigation.html %}
          </nav>
          <div class="clearfix"></div>
        </div>
      </div>
    </header>

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
</body>-->
</html>
